<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    
    <mat-card fxFlex.xs="100%" fxFlex="400px">

      <mat-card-title fxLayoutAlign="center">New workout</mat-card-title>

      <mat-card-content fxLayoutAlign="center">
        
        <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async)">
            <mat-select placeholder="Select a type of workout" ngModel name="exercise" required>
              <mat-option *ngFor="let e of exercises$ | async" [value]="e.id">{{ e.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-spinner *ngIf="isLoading"></mat-spinner>
          
      </mat-card-content>
      
      <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
        <button *ngIf="exercises$ | async" mat-raised-button type="submit" color="primary" [disabled]="f.invalid">Start</button>
        <button *ngIf="!(exercises$ | async)" mat-raised-button type="button" color="warn" (click)="fetchAvailableExercises()">Try again</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>